* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: teal;
}

section {
  width: 100%;
  height: 60vh;
  background: darkgray;
  position: relative;
}

div {
  width: 200px;
  height: 200px;
  color: gray;
  position: absolute;
}

/* .red {
  background: darkred;
  left: 400px;
}
.blue {
  background-color: darkblue;
  bottom: 200px;
}
.green {
  background: whitesmoke;
  bottom: 400px;
  left: 200px;
} */

.red {
  background: darkred;
  left: 400px;
}
.blue {
  background-color: darkblue;
}
.green {
  background: #fff;
  left: 200px;
}
